In [1]:
import pandas as pd

df = pd.DataFrame()
df['ColumnA'] = ["Manas_Bej","Shiv_shankar","Ram_Krisha"]

In [2]:
df[['First_Name','Lat_Name']] = df['ColumnA'].str.split('_',expand=True)

In [3]:
df

        ColumnA First_Name Lat_Name
0     Manas_Bej      Manas      Bej
1  Shiv_shankar       Shiv  shankar
2    Ram_Krisha        Ram   Krisha

In [4]:
type(zip())

zip